<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2016 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edi.services.mapper.UserMapper">

    <select id="readUser" resultType="com.edi.common.domain.User">
        select * from user <where> id = #{id} and event_type=#{event}</where> ORDER BY agg_id DESC LIMIT 1
    </select>

    <insert id="insertUser">
        insert into user (
        <trim prefixOverrides=",">
            <if test="aggId!=null">agg_id</if>
            <if test="event!=null">,event_type</if>
            <if test="id!=null">,id</if>
            <if test="name!=null">,name</if>
            <if test="password!=null">,password</if>
        </trim>
        ) values (
        <trim prefixOverrides=",">
            <if test="aggId!=null">#{aggId}</if>
            <if test="event!=null">,#{event}</if>
            <if test="id!=null">,#{id}</if>
            <if test="name!=null">,#{name}</if>
            <if test="password!=null">,#{password}</if>
        </trim>
        )
    </insert>

    <update id="updateUser">
        update user
        <trim prefix="SET" suffixOverrides=",">
            <if test="aggId!=null">agg_id=#{aggId},</if>
            <if test="event!=null">event_type=#{event},</if>
            <if test="id!=null">id=#{id},</if>
            <if test="name!=null">name=#{name},</if>
            <if test="password!=null">password=#{password},</if>
        </trim>
        <where>
            id=#{id}
        </where>
    </update>

    <delete id="deleteUser">
        delete from user <where> id=#{id} </where>
    </delete>
</mapper>